<section id="bodyPD" class="container  well panel-primary">
  <div class="panel-heading" ><h2 class="panel-title">四&nbsp;&nbsp;&nbsp;判断题</h2></div>
  <div class="panel-body">
    <% topics.forEach(function(topic, indexX){ %>
      <ul class="list-unstyled">
        <label><%= indexX+1 %>.<%= topic.title %></label>
        <% topic.item.forEach(function(choice,indexY){ %>
          <% var isChecked = (topic.inputs==choice)?"checked":"" %>
          <li class="radio"><input type="radio" name="pd<%= indexX %>" <%= isChecked %> value=<%= choice %>><label ><%= topic.option[indexY] %></label></li>
        <% }); %>
      </ul>
    <% }); %>
  </div>
</section>
