      <section id="bodyPD" >
        <div><h2 >四&nbsp&nbsp&nbsp判断题</h2></div>
        <div>
          <% topic.judge.forEach(function(oneJudge, indexX){ %>
            <ul>
              <label><%= indexX+1 %>.<%= oneJudge.title %></label>
              <% for(var choice in oneJudge.option){ %>
                <li ><input type="radio" name="pd<%= indexX %>" /><label >(<%= choice %>)<%= oneJudge.option[choice] %></label></li>
              <% } %>
            </ul>
          <% }); %>
        </div>
      </section>
