<section id="bodyDX" class="container well panel-primary">
  <div class="panel-heading" ><h2  class="panel-title">三&nbsp;&nbsp;&nbsp;多选题</h2></div>
  <div class="panel-body row">
    <% topics.forEach(function(topic, indexX){ %>
      <ul class="list-unstyled list-group col-md-6 col-sm-12">
        <label><%= indexX+1 %>.<%= topic.title %></label>
        <% topic.item.forEach(function(choice,indexY){  %>
          <% var isChecked = (topic.inputs.indexOf(choice)!=-1)?"checked":"" %>
          <li class="list-group-item checkbox"><input type="checkbox" name="dx<%= indexX %>" <%= isChecked %> value=<%= choice %>><label >(<%= choice %>)<%= topic.option[indexY] %></label></li>
        <% }) %>
      </ul>
    <% }); %>
  </div>
</section>
