<section id="bodyDX" >
  <div><h2  >三&nbsp&nbsp&nbsp多选题</h2></div>
  <div>
    <% topic.multi.forEach(function(oneMulti, indexX){ %>
      <ul>
        <label><%= indexX+1 %>.<%= oneMulti.title %></label>
        <% for(var choice in oneMulti.option){ %>
          <li ><input type="radio" name="xz<%= indexX %>" /><label >(<%= choice %>)<%= oneMulti.option[choice] %></label></li>
        <% } %>
      </ul>
    <% }); %>
  </div>
</section>
