<section id="bodyDX" >
  <div><h2  >三&nbsp&nbsp&nbsp多选题</h2></div>
  <div>
    <% topic.multi.forEach(function(oneMulti, indexX){ %>
      <ul>
        <label><%= indexX+1 %>.<%= oneMulti.title %></label>
        <% for(var choice in oneMulti.option){ %>
          <% var isChecked = (oneMulti.inputs.indexOf(choice)!=-1)?"checked":"" %>
          <li ><input type="checkbox" name="dx<%= indexX %>" <%= isChecked %> value=<%= choice %>><label >(<%= choice %>)<%= oneMulti.option[choice] %></label></li>
        <% } %>
      </ul>
    <% }); %>
  </div>
</section>
