<section id="bodyXZ" >
  <div><h2 >二&nbsp&nbsp&nbsp选择题</h2></div>
  <div>
    <% topic.single.forEach(function(oneSingle, indexX){ %>
      <ul>
        <label><%= indexX+1 %>.<%= oneSingle.title %></label>
        <% for(var choice in oneSingle.option){ %>
          <% var isChecked = (oneSingle.inputs==choice)?"checked":"" %>
          <li ><input type="radio" name="xz<%= indexX %>" <%= isChecked %> value=<%= choice %>><label >(<%= choice %>)<%= oneSingle.option[choice] %></label></li>
        <% } %>
      </ul>
    <% }); %>
  </div>
</section>
