<section id="bodyXZ" class="container  well panel-primary ">
  <div  class="panel-heading" ><h2 class="panel-title">二&nbsp;&nbsp;&nbsp;选择题</h2></div>
  <div class="panel-body row">
    <% topics.forEach(function(topic, indexX){ %>
      <ul class=" list-group col-md-6 col-sm-12">
        <label><%= indexX+1 %>.<%= topic.title %></label>
        <% topic.item.forEach(function(choice,indexY){  %>
          <% var isChecked = (topic.inputs==choice)?"checked":"" %>
          <li class="list-group-item radio"><input type="radio"  name="xz<%= indexX %>" <%= isChecked %> value=<%= choice %>><label >(<%= choice %>)<%= topic.option[indexY] %></label></li>
        <% }) %>
      </ul>
    <% }); %>
  </div>
</section>
