    <%- include partials/head  %>
    <form action="/" method="post">
      <%- include partials/message %>
      <%- include partials/fill-in %>
      <%- include partials/single  %>
      <%- include partials/multi  %>
      <%- include partials/judge %>
      <%- include partials/short-answer %>
      <div class="container ">
        <input type="submit" class="btn btn-primary btn-lg btn-block btn-danger " value="提交"/>
      </div>
    </form>
    <%- include partials/foot  %>
